.barreiro-on {
  font-family: 'Garamond', serif;
  font-size: 36px;
  color: red;
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.tw-button {
  background-color: #ffffff;
  color: rgb(11, 0, 0);
  border: none;
  border-radius: 999px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
}

.bt_post {
  background-color: #272197;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 999px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.bt_post:hover {
  background-color: #0c364d;
  color: #ffffff;
}

.bt_post:active {
  background-color: #05111b;
}

.tw-button:hover {
  background-color: #0c364d;
  color: #ffffff;
}

.tw-button:active {
  background-color: #05111b;
}

.chat-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.chat-button:hover {
  transform: scale(1.1);
}

.tw-follow-button {
  background-color: #888;
  color: white;
  border: none;
  border-radius: 0;
  padding: 2px 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, border-radius 0.3s;
  margin: 10px auto;
}

.tw-follow-button:hover {
  background-color: #aea0a0;
}

.search-container {
  display: inline-block;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  background-color: #fff;
}

input {
  flex: 1;
  border: none;
  border-radius: 15px;
  padding: 10px;
  outline: none;
}

.search-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #1a5d93;
}

.rounded-textbox {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  outline: none;
  resize: none;
  margin-top: 20px;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: 17%;
  float: left;
  background-color: #1a5d93;
  position: fixed;
  top: 100px;
  left: 1px;
}

.center-column {
  width: 58.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
  position: fixed;
  right: 330px;
  top: 100px;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
  padding: 20px;
}

.right-column {
  width: 22%;
  float: right;
  background-color: chartreuse;
  position: fixed;
  right: 1px;
  top: 100px;
}

.tw-button, .label {
  display: block;
  margin: 5px 0;
}

.tw-follow-button, .label {
  display: block;
  margin: 5px 0;
  border-radius: 5px;
}

/* Publicação */

.postas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

.postas-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.postas {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Agrupamento dos botões */
.acoes-postagem {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

/* Inserir Arquivo */
.custom-file-upload {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}

.custom-file-upload input[type="file"] {
  display: none;
}

/* Rodapé */
.rodape {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  height: auto;
  width: 11%;
  font-size: 14px;
  padding: 2%;
  position: fixed;
  top: 645px;
  left: -20px;
}

.rodape a {
  text-decoration: none;
  color: white;
}

.rodape p {
  margin-bottom: 5px;
}

.rodape-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  align-items: stretch;
  padding: 60px 1px 40px 10px;
}

.rodape-div-1,
.rodape-div-2,
.rodape-div-3,
.rodape-div-4 {
  display: flex;
  width: calc(100% / 4 - 20px);
  padding: 10px;
}

.rodape span {
  font-size: 20px;
  color: white;
}

.rodape-direitos {
  width: calc(100% - 20px);
  background-color: black;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

@media (max-width: 768px) {
  .rodape-div-1,
  .rodape-div-2,
  .rodape-div-3,
  .rodape-div-4 {
    width: calc(50% - 20px);
    padding: 10px;
  }

  .rodape-div {
    padding: 60px 0px 40px 0px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f0f0f0;
  padding: 10px;
  width: auto;
}

.rodape label {
  margin-right: 10px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  margin-left: 10px;
  position: fixed;
  top: 280px;
}

.file-info img,
.file-info video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  position: relative;
  top: 100px;
}

.vinda {
  position: fixed;
  top: 50px;
  left: 480px;
}

